<html>
  <head>
    <title>[% name %]</title>
  </head>
  <body>
    <h1>Welcome [% name %]</h1>
    <p>Here are your details:</p>
    <table>
      <tr><td>Name:</td> <td>[% name %]</td></tr>
      <tr><td>Age:</td> <td>[% age %]</td></tr>
      <tr><td>Gender:</td> <td>[% gender %]</td></tr>
      <tr><td>Hobbies:</td> <td>
[% IF hobbies.size %]
        <ul>
[% FOREACH hobby = hobbies %]
          <li>[% hobby %]</li>
[% END %]
        </ul>
[% ELSE %]
        None
[% END %]
      </td></tr>
    </table>
  </body>
</html>
